.char {
  &__form {
    margin-top: 30px;
    width: 425px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    padding: 25px;
    &-title {
      font-weight: 700;
      font-size: 18px;
      color: #000;
    }
    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap;
    }
    &-error {
      order: 3;
      margin-top: 25px;
      font-weight: 700;
      font-size: 18px;
      color: #9f0013;
    }
    &-success {
      margin-top: 26px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &_msg {
        font-weight: 700;
        font-size: 18px;
        color: #03710e;
      }
    }
    input {
      margin-top: 18px;
      padding: 10px;
      width: 250px;
      min-height: 38px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      background: #fff;
      border: none;
      font-weight: 400;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.5);
    }
  }
}
